ActionResultAssignment-1/packages/
MyFirstApp/packages/
CurrencyAssignment-2/packages/
LayoutViewsExample/packages/
ModalExample/packages/
EFDbFirstApproachExample/packages/
EFCodeFirstApproachExample/packages/
HtmlHelpersAndValidations/packages/