<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <!-- Import bootstrap -->
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/umd/popper.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="container-fluid">
        <h1>Currency Denominations</h1>

        @* C# logic for calculating currency count based on denominations*@
        @{
            //create collections to store denominations and corresponding currency count
            List<int> denominations = new List<int>() { 1000, 500, 100, 10, 1 };
            List<int> currencyCount = new List<int>();

            //If amount not equal to null and is a number
            if (ViewBag.amount > 0)
            {
                //Copy the current value of 'amount' into 'amountTemp'
                int amountTemp = ViewBag.amount;

                //go through the collection of denominations
                foreach (int denomination in denominations)
                {
                    //divide amountTemp with denomination
                    int currCount = Convert.ToInt32(amountTemp / denomination);

                    //add count into currencyCount collection
                    currencyCount.Add(currCount);

                    //subtract the resulting amount from amountTemp
                    amountTemp = amountTemp - (currCount * denomination);
                }
            }
        }

        <div class="row">
            <div class="col-lg-6 mx-auto">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Denomination</th>
                            <th>Count</th>
                            <th>Amount</th>
                        </tr>
                    </thead>

                    <tbody>
                        @* read data from currencyCount and denominations collection *@
                        @for (int i = 0; i < currencyCount.Count; i++)
                        {
                            <tr>
                                <td>@denominations[i]</td>
                                <td>@currencyCount[i]</td>
                                <td>@(denominations[i] * currencyCount[i])</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</body>
</html>
